# APPLICATION VARIABLES
APP_NAME="ALOZOO"
APP_PORT=3000
APP_BASE_URL="http://localhost:3000"
APP_SERVICE_URL="http://localhost:3000"

# DATABASE VARIABLES
MONGO_URI=''

# JWT VARIABLES
JWT_SECRET_KEY=''
JWT_REFRESH_TOKEN_SECRET_KEY=''
JWT_ACCESS_TOKEN_EXPIRES='1d'
JWT_REFRESH_TOKEN_EXPIRES='5d'
JWT_TOKEN_COOKIE_EXPIRES=1000

# EMAIL VARIABLES
SEND_SENDER_MAIL=''
SEND_GRID_API_KEY=''
